<h3>Доступ только по пин-коду</h3>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label 'Пин-код', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('app.button.send'), class: 'btn btn-primary'  %>
    |  <%= link_to t('app.button.back'), events_path %>
  </div>
<% end %>
