<h4><%= t '.title' %></h4>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<%= t '.event' %>
<h5><%= link_to @event.title, @event %></h5>

<%= t '.datetime' %>
<h5><%= l @event.datetime %></h5>

<%= t '.owner' %>
<h5><%= @event.user.name %></h5>
