<h4><%= t '.title' %></h4>

<p><%= t '.author' %>: <strong><%= @photo.user.name %></strong></p>

<%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.url %>
<hr/>

<%= t '.event' %>
<h5><%= @event.title %></h5>

<%= t '.datetime' %>
<h5><%= l @event.datetime %></h5>

<%= t '.owner' %>
<h5><%= @event.user.name %></h5>
